[*.cs]
dotnet_diagnostic.CA1707.severity = None

dotnet_diagnostic.CA1515.severity = None
dotnet_diagnostic.CA1711.severity = None
dotnet_diagnostic.CA1031.severity = None
dotnet_diagnostic.CA1859.severity = None
dotnet_diagnostic.CA1812.severity = none
